@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

*{
    font-family: 'Montserrat';
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.top{
    color: white;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(assets/images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    opacity: 1;
}

/* Navbar Start */
.navbar{
    padding: 20px 0px 0px 50px;
    text-align: center;
}

.navbar nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.brand a{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    margin: 0px 0px 0px 90px;
}

ul {
    list-style-type: none;
    margin: 0px 200px 0px 0px;
    padding: 0;
    overflow: hidden;
  }
li {
    float:left;
}
    
a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 400;
}
a:hover {
    color: rgba(35,166,240,255);
}
.login{
    display: flex;
    column-gap: 40px;
    margin: 0px 150px 0px 0px;
    font-weight: 400;
}
.login button{
    background-color: rgba(35,166,240,255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}
.login button:hover{
    background-color: rgb(23, 97, 139);
    color: white;
}
/* NavBar End */
/* Center Text Start */
.center-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
    height: 75%;
    text-align: center;
    width: 35%;
    margin: auto;
}
.center-text h1{
    font-weight: 800;
    font-size: 50px;
}
.center-text h3{
    font-weight: 400;
    font-size: 18px;
}
.buttons button{
    padding: 15px 30px 15px 30px;
    background-color: rgba(35,166,240,255);
    border:none;
    border-radius: 30px;
    font-weight: 400;
    margin: 0px 10px 0px 0px;
    color: white;
    cursor: pointer;
}
.buttons button:hover{
    background-color: rgb(23, 97, 139);
    color: white;
}
.buttons input[type="button"]{
    padding: 15px 30px 15px 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}
.buttons input[type="button"]:hover{
    background-color: rgba(39,166,240,255);
    border: 1px solid rgba(39,166,240,255);
    color: white;

}
/* End of Center Text Section */
/* Section 1 */
.section1{
    background-color: rgb(250, 250, 250);
    height: 150px;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
 
}

.one, .two, .three{
    background-color: white;
    color: rgb(0, 0, 0);
    height: 70%;
    width: 15%;
    margin: auto;
    margin: -200px 0px 0px 0px;
    padding: 40px;
    display: flex;
    gap: 20px;
    flex-flow: column;
}
.one:hover, .two:hover, .three:hover{
    background-color: rgba(35,166,240,255);
    color: white;
}

.people-icon{
    height: 20px;
    width: 10px;
}
.peace{
    font-weight: 550;
}
.fox{
    font-weight: 400;
}