@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    font-weight: 300;
    background-color: rgb(250, 250, 250);
}

.top{
    color: white;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(assets/images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
}

/* Navbar Start */
.navbar{
    display: flex;
    padding: 20px 20px 0px 20px;
    justify-content: space-between;    
}
nav {
    display: none;
}

a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: rgba(35,166,240,255);
}
/* NavBar End */
/* Center Text Start */
.center-text{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    height: 75%;
    text-align: center;
    width: 80%%;
    margin: auto;
}
.center-text h1{
    font-weight: 800;
    font-size: 30px;
}
.center-text h3{
    font-weight: 400;
    font-size: 18px;
}
.buttons button{
    padding: 15px 30px 15px 30px;
    background-color: rgba(35,166,240,255);
    border:none;
    border-radius: 30px;
    font-weight: 400;
    margin: 0px 10px 0px 0px;
    color: white;
    cursor: pointer;
}
.buttons button:hover{
    background-color: rgb(23, 97, 139);
    color: white;
}
.buttons input[type="button"]{
    padding: 15px 30px 15px 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}
.buttons input[type="button"]:hover{
    background-color: rgba(39,166,240,255);
    border: 1px solid rgba(39,166,240,255);
    color: white;

}
/* End of Center Text Section */
/* Section 1 */
.section1{
    background-color: rgb(250, 250, 250);
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.section-a{
    height: auto;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}

.one, .two, .three{
    background-color: white;
    color: rgba(0, 0, 0, 0.822);
    margin: auto;
    margin: 0px 0px 0px 0px;
    padding: 30px;
    display: flex;
    flex-flow: column;
    justify-content:space-evenly;
    align-items: flex-start;
}
.one:hover, .two:hover, .three:hover{
    background-color: rgba(35,166,240,255);
    color: white;
    
}

.people-icon{
   font-size: 50px;
   color: rgba(35,166,240,255);
}
.people-icon:hover{
    color: white;
 }
.peace{
    font-weight: 550;
    margin-bottom: 20px;
}
.fox{
    font-weight: 400;
}
/* End of Section 1 */
/* Section 2 */
.section2{
    height: auto;
    width: auto;
    margin: auto;
    padding: 70px 50px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.section2-one{
    background-color: transparent;
    color: rgba(0, 0, 0, 0.822);
    max-width: 350px;
    margin: auto;
    padding: 40px;
    display: flex;
    gap: 0px;
    flex-flow: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    text-align: center;
}
/* End of Section 2 */

/* Industry */
.industry{
    height: auto;
    width: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* margin: 0px 100px 0px 100px; */
    /* padding: 0px 100px 0px 100px; */
}

.industry-top{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 20px 0px;
    height: 20%;
}
.testimony{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.testimony-one {
    background-color: white;
    color: rgba(0, 0, 0, 0.822);
    padding: 10px;
    max-width: 252px;
    display: flex;
    gap: 10px;
    flex-flow: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(226, 212, 212);
    border-radius: 5px;
}

.testimony-image img{
    height: 125px;
    width: 125px;
}
.testimony-image{
    display: flex;
}
/* End of Industry */

/* Start of Sponsor Section */
.sponsors{
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color: rgb(250, 250, 250);
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    margin: 20px;
}
.sponsor-one img{
    height: 35px;
}
/* End of Sponsors Section */

/* Newsletter */
.newsletter{
    height: auto;
    width: 80%;
    margin: auto;
    background-image: linear-gradient(to right, #044688, #d21588);
    display: flex;
    flex-flow: column wrap;
    color: white;
    justify-content: center;
    align-items: center;
}

.latest{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.latest h1{
    font-weight: 600;
    font-size: x-large;
}
.email{
    display: flex;
    flex-flow: row;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 5px;
}
.newsletter input{
    padding: 12px;
    width: auto;
    flex-grow: 2;
    border: none;
}
.newsletter input:focus{
    outline: none;
}
.email:focus-within{
    outline: 1px solid blue;
}
.email button{
    border: none;
    background: rgba(35,166,240,255);
    color: white;
    padding: 0px 20px;
}
/* End of newsletter */
/* Pricing Start*/
.pricing{
    height: auto;
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.pricing-top{
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    text-align: center;
    width: 90%;
    height: auto;
    margin: auto;
}
.container-prices{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    width: auto;
    gap: 10px;
}
.columns {
    display: flex;
    flex-flow: column;
    background-color: white;
    border: 1px solid rgba(35,166,240,255);
    border-radius: 5px;
    height: auto;
    gap: 10px;
    padding: 20px;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    -webkit-transition: 0.3s;
    transition: 0.3s;

}

.columns:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    background-color: rgb(5, 4, 53);
    transform: scaleY(1.1);
    transform-origin: bottom;
    color: white;
}
.columns:hover p{
    transform: scaleY(0.90);
}

.check-mark{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
.money{
    display: flex;
    flex-flow: row;
    text-align: center;
    margin: auto;
    gap: 10px;
    color: rgba(35,166,240,255);
}
.money>p{
    font-size: 30px;
    font-weight: 600;
}
.t-money{
    font-weight: 700;
    align-self: flex-start;
}
.tt-money{
    font-weight: 500;
}
.timer{
    display: flex;
    flex-flow: column;
}
.p-call{
    font-weight: 500;
    width: 60%;
    margin: auto;
}
.p-head{
    font-weight: 600;
    font-size: 20px;
}  
.p-check{
    display: flex;
    gap: 10px;
}
.p-non-check{
    display: flex;
    gap: 10px;
}
.p-check ion-icon{
    color: green;
    font-size: 30px;
}
.p-non-check ion-icon{
    color: rgb(125, 131, 125);
    font-size: 30px;
}
.p-check p{
    font-weight: 400;
}
.p-non-check p{
    font-weight: 400;
}
.checked {
    color: orange;
}
.fa-star-o{
    color: orange;
} 

.p-button input[type=button] {
    width: 100%;
    background-color: rgba(35,166,240,255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 .p-button input[type=button]:hover {
    background-color: rgb(23, 97, 139);
  }
/* End of Pricing */
/* Start of branches */
.branches{
    background-color: rgb(5, 4, 53);
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
    color: white;
    justify-content: space-between;
}
.branches-top{
    display: flex;
    gap: 10px;
    flex-flow: column;
    margin: 20px;
    

}
.world{
    display: flex;
    flex-flow: column;
    margin: auto;
    width: 80%;
}
.world h1{
    font-weight: 600;
    font-size: ;
}
.world p{
    font-weight: 400;
}
.pingwig{
   max-width: 100%;
   display: flex;
   justify-content: center;
}
.pingwig img{
   max-width: 90%;
}

/* End of branches */

/* Appointment */
.appointment{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: center;
}
.book{
    display: flex;
    margin: 20px 0px;
    width: 100%;
    justify-content: center;
}
.appointment-image{
    display: none;
}
.appointment-image img{
    width: inherit;
}
.form{
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.form h1{
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}
.form form{
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.form input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
 .form input[type=submit] {
    width: 100%;
    background-color: rgba(35,166,240,255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 .form input[type=submit]:hover {
    background-color: rgb(23, 97, 139);
  }
  .form label{
    font-weight: 500;
  }
/* End of Appointment */
/* Consult */
.consult{
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.consult button{
    background-color: rgba(35,166,240,255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 40px 15px 40px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}
.consult button:hover{
    background-color: rgb(23, 97, 139);
    color: white;
}
.cons-h1{
    font-size: x-large;
}
/* End of Consult */
/* Footer */
.footer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

footer{
    height: auto;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.company-info{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.legal{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.features{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.resources{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.get-touch{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.get-touch ion-icon{
    font-size: 30px;
    color: rgba(35,166,240,255);
}
.get-touch > div{
    display: flex;
}
.head-foot{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.foot{
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.61);
}
/* End of footer */
/* Bottom Footer */
.bottom-footer{
    height: auto;
    width: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
}
.footer-icons{
    font-size: 30px;
    color: rgba(35,166,240,255);
}
/* End of bottom footer */
/* RESPONSIVE CSS MEDIA QUERIES */
@media only screen and (min-width: 600px) {
    /* For tablets: */
    
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

}