@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

*{
    font-family: 'Montserrat';
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.top{
    color: white;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(assets/images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 120vh;
    opacity: 1;
}

/* Navbar Start */
.navbar{
    padding: 20px 0px 0px 50px;
    text-align: center;
}

.navbar nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.brand a{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    margin: 0px 0px 0px 90px;
}

ul {
    list-style-type: none;
    margin: 0px 200px 0px 0px;
    padding: 0;
    overflow: hidden;
  }
li {
    float:left;
}
    
a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 400;
}
a:hover {
    color: rgba(35,166,240,255);
}
.login{
    display: flex;
    column-gap: 40px;
    margin: 0px 150px 0px 0px;
    font-weight: 400;
}
.login button{
    background-color: rgba(35,166,240,255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}
.login button:hover{
    background-color: rgb(23, 97, 139);
    color: white;
}
/* NavBar End */
/* Center Text Start */
.center-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
    height: 75%;
    text-align: center;
    width: 35%;
    margin: auto;
}
.center-text h1{
    font-weight: 800;
    font-size: 50px;
}
.center-text h3{
    font-weight: 400;
    font-size: 18px;
}
.buttons button{
    padding: 15px 30px 15px 30px;
    background-color: rgba(35,166,240,255);
    border:none;
    border-radius: 30px;
    font-weight: 400;
    margin: 0px 10px 0px 0px;
    color: white;
    cursor: pointer;
}
.buttons button:hover{
    background-color: rgb(23, 97, 139);
    color: white;
}
.buttons input[type="button"]{
    padding: 15px 30px 15px 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}
.buttons input[type="button"]:hover{
    background-color: rgba(39,166,240,255);
    border: 1px solid rgba(39,166,240,255);
    color: white;

}
/* End of Center Text Section */
/* Section 1 */
.section1{
    background-color: rgb(250, 250, 250);
    height: 150px;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
 
}

.one, .two, .three{
    background-color: white;
    color: rgba(0, 0, 0, 0.822);
    height: 70%;
    width: 15%;
    margin: auto;
    margin: -150px 0px 0px 0px;
    padding: 40px;
    display: flex;
    gap: 0px;
    flex-flow: column;
    justify-content:space-evenly;
    align-items: flex-start;
}
.one:hover, .two:hover, .three:hover{
    background-color: rgba(35,166,240,255);
    color: white;
    
}

.people-icon{
   font-size: 50px;
   color: rgba(35,166,240,255);
}
.peace{
    font-weight: 550;
    margin-bottom: 20px;
}
.fox{
    font-weight: 400;
}
/* End of Section 1 */
/* Section 2 */
.section2{
    height: 400px;
    background-color: white;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}

.section2-one, .section2-two, .section2-three{
    background-color: rgb(185, 20, 20);
    color: rgba(0, 0, 0, 0.822);
    height: 25%;
    width: 15%;
    margin: auto;
    margin: 0px 0px 0px 0px;
    padding: 40px;
    display: flex;
    gap: 0px;
    flex-flow: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    text-align: center;
}
/* End of Section 2 */
/* Section 3 */
.industry{
    background-color: rgb(250, 250, 250);
    height: 850px;
    display: flex;
    flex-flow: column;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
 
}

.industry-top{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: auto;
}
.testimony{
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 50px
}

.testimony-one {
    background-color: white;
    color: rgba(0, 0, 0, 0.822);
    height: 70%;
    width: 15%;
    margin: auto;
    margin: 0px 0px 0px 0px;
    padding: 40px;
    display: flex;
    gap: 0px;
    flex-flow: column;
    justify-content:space-evenly;
    align-items: flex-start;
}
/* End of Section 3 */
/* Start of Sponsor Section */
.sponsors{
    display: flex;
    flex-flow: row nowrap;
    height: 300px;
    background-color: rgb(250, 250, 250);
    justify-content: center;
    align-items: flex-end;
    gap: 100px;
    padding-bottom: 90px;
}
.sponsor-one img{
    height: 50px;
}
/* End of Sponsors Section */
/* Newsletter */
.newsletter{
    height: 100px;
    width: 60%;
    margin: auto;
    background-image: linear-gradient(to right, blue, rgb(197, 20, 182));
    display: flex;
    flex-flow: row nowrap;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.latest{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}
.latest h1{
    font-weight: 600;
    font-size: x-large;
}
.email{
    display: flex;
    flex-flow: row;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.newsletter input{
    padding: 12px;
    width: 250px;
    flex-grow: 2;
    border: none;
}
.newsletter input:focus{
    outline: none;
}
.email:focus-within{
    outline: 1px solid blue;
}
.email button{
    border: none;
    background: rgba(35,166,240,255);
    color: white;
    padding: 0px 20px 0px 20px;
}
/* End of newsletter */
/* Pricing Start*/
.pricing{
    background-color: rgb(250, 250, 250);
    height: 850px;
    display: flex;
    flex-flow: column;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
 
}

.pricing-top{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: auto;
}
.testimony{
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 50px
}

.testimony-one {
    background-color: white;
    color: rgba(0, 0, 0, 0.822);
    height: 70%;
    width: 15%;
    margin: auto;
    margin: 0px 0px 0px 0px;
    padding: 40px;
    display: flex;
    gap: 0px;
    flex-flow: column;
    justify-content:space-evenly;
    align-items: flex-start;
}
/* End of Section 3 */
/* Start of Sponsor Section */
.sponsors{
    display: flex;
    flex-flow: row nowrap;
    height: 300px;
    background-color: rgb(250, 250, 250);
    justify-content: center;
    align-items: flex-end;
    gap: 100px;
    padding-bottom: 90px;
}
.sponsor-one img{
    height: 50px;
}
/* End of Pricing */
/* Start of branches */
.branches{
    background-color: rgb(5, 4, 53);
    height: 850px;
    display: flex;
    flex-flow: column;
    column-gap: 30px;
    align-items: center;
    color: white;
}
.branches-top{
    display: flex;
    gap: 100px;
    margin: 100px 250px 0px 250px;

}
.world{
    display: flex;
    flex-flow: column;
    gap: 20px;
}
.world h1{
    font-weight: 700;
    font-size: 40px;
}
.world p{
    font-weight: 400;
}
.pingwig{
    height: 50%;
    width: 50%;
}
/* End of branches */
/* Appointment */
.appointment{
    display: flex;
    margin: auto;
    height: 600px;
    width: 50%;
    justify-content: center;
}
.book{
    display: flex;
    margin: -250px 0px 0px 0px;
    background-color: rgb(13, 77, 133);
    height: 600px;
    width: 100%;
    justify-content: center;
}
/* End of Appointment */